* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 300px;
}
.background {
    background: url(/images/background01.jpg) no-repeat top center;
    width: 1920px;
    height: 480px;
}
.av {
    background: url(/images/z3462183393966_32007b5be41fd81cfcef5d52606b0fec.jpg);
    height: 200px;
    width: 139px;
    /* position: absolute;
    left: 300px;
    top: 580px; */
}
.cmd {
    width: 1920px;
    height: 30px;
    background-color: rgb(29, 145, 100);
}
/* .td{
    position: relative;
    bottom: 20px;
    left: 500px;
    top: 10px;
    font-size: 2em;
}
.tt {
    position: relative;
    left: 500px;
    top: 40px;
    font-size: 1.5em;
}
.ht {
    margin-right: 1000px;
} */
.ab{
    display:grid;
    grid-template-columns: 200px 500px 500px;
    grid-template-rows: 50px 300px ;
    gap: 3px;
    position: relative;
    top: 30px;
    left: 300px;
}
.td {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2em;
}
.av{
    grid-column: 1/2;
    grid-row: 1/3;
}
.tt{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.2em;
}
.td2 {
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 2em;
}
.ht{
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 1.2em;
}
.ab li+li {
    padding-top: 5px;
}

.al{
    display:grid;
    grid-template-columns: 543px 600px 600px  543px;
    grid-template-rows: 270px 270px 270px;
}
.al1 {
    grid-column: 1/2;
    grid-row: 1/3;
}
.al2 {
    grid-column: 2/4;
    grid-row: 1/2;
}
.al3 {
    grid-column: 2/3;
    grid-row: 2/3;
}